.product {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.product:hover {
    border: 1px solid #BCE3C9;
    box-shadow: 20px 20px 40px rgba(24, 24, 24, 0.07);
}

.product:hover.addBtn {
    display: none;
}

.productImg {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.category {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7E7E7E;
    margin-bottom: 4px;
}

.productName {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0004em;
    color: #253D4E;
}

.ratings {
   display: flex;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #7E7E7E;
  
}

.rating {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #7E7E7E;
}

.star {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FDC040;
}

.bottom {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
   display: flex;
   align-items: flex-end;
}

.priceNew {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.0004em;
    color: #3BB77E;
    margin-right: 4px;
}

.priceOld {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: -0.0004em;
    color: #7E7E7E;
    text-decoration: line-through;

}

.addBtn {
    background: #DEF9EC;
    border-radius: 4px;
    border: none;
    padding: 5px 11px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0004em;
    color: #3BB77E;

}

.iconBtn {
    font-size: 13px;
    margin-left: 4px;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    position: absolute;
    width: 58px;
    height: 32px;
    left: 0px;
    top: 20px;
    border-radius: 0px 30px 30px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.discount {
    background: #3BB77E;
}

.hot {
    background: #FD6E6E;
}

.sale {
    background: #FDC040;
}