.img {
    border-radius: 15px 0px 0px 15px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.content {
    padding: 36px 25px 0px 44px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.0004em;
    color: #253D4E;
}

.description {
    margin: 24px 0pc 32px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E7E;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3D34;
}

.time {
    color: #B6B6B6;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    gap:12px;
    color: #B6B6B6;
}