.dropdown {
    display: flex;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
   
}

.icon {
    margin-left: 8px;
}

.iconleft {
    margin-right: 5px;
}

