.dropdown {
    display: flex;
    position: relative;
}

.dropdown::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 40px;
    top: 100%;
}

.dropdown:hover > .content {
    display: block;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.icon {
    margin-left: 8px;
}

.iconleft {
    margin-right: 5px;
}

.content {
    position: absolute;
    display: none;
    top: 62px;
    left: -18px;
    background: #FFFFFF;
    border: 1px solid #BCE3C9;
    box-shadow: 20px 20px 40px rgba(24, 24, 24, 0.07);
    border-radius: 10px;
    color: #253D4E;
    padding: 33px 30px;
    width: max-content;
    z-index: 10;
}

.data {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px;
}

.item {
    display: flex;
    gap: 12px;
    background: #FFFFFF;
    border: 1px solid #F2F3F4;
    border-radius: 5px;
    padding: 9px 17px;
    align-items: center;
}

.item:hover {
    border: 1px solid #BCE3C9;
    box-shadow: 5px 5px 15px rgba(24, 24, 24, 0.05);
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0004em;
    color: #253D4E;
}

.seeMore {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0004em;
    color: #7E7E7E;
    align-items: center;
}

.navigate {
    display: flex;
}

.iconseeMore {
    margin-right: 14px;
    color: #3BB77E;
}